@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Color */
:root {
  --pink : #F79EB2;
  --pastelpink: #FCE9E2;
  --blue: #3744AC;
  --pastelblue: #8896D7;
  --pastelblue2: #E4E8F4;
  --font: 'Poppins', sans-serif;
}
/* Toggle Dark Mode */
html {
  height: 100%;
}

/*Kegunaan */
.bawah::after{
  content: '';
  display: block;
  border-bottom: 3px solid var(--pastelblue);
  width: 5%;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: -8px; 
  margin-top: 0.5rem; 
}
.bawah1::after {
  content: '';
  display: block;
  border-bottom: 3px solid var(--pink);
  width: 6%;
  padding-bottom: 5px;
  margin-bottom: -8px; 
  margin-top: 0.5rem; 
}
/* Dark Mode Toggle */

/* Navbar */
.navbar-brand {
  font-family: 'Viga', sans-serif;
  font-size: 30px;
}
.nav-link{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
/* Jumbotron */
.jumbotron {
  font-family: var(--font);
  overflow: hidden;
}
.jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.jumbotron h1 span {
  color: var(--pink)
}
.jumbotron p {
  font-size: 1.5rem;
  font-weight: 600;
  color:#808080;
}
.jumbotron .bi {
  color: black;
  margin-right: 18px;
}
.jumbotron .btn {
  background: linear-gradient(90deg, #3744AC 1.9%, #8896D7 35.72%, #BC9AC6 52.53%, #F79EB2 71.52%, #FFDBCE 97.38%);
  padding: 10px 20px;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 700;
}
/* About Me */
#about {
  margin-bottom: -42rem;
}
#about .bubblepink {
  position: relative;
  left: -10%;
  transform: rotate(100deg);
  overflow: hidden;
}
#about h3 {
  font-size: 3rem;
  font-weight: 600;
}
#about h3 span {
  color: var(--pink);
  font-weight:  650;
}
#about p {
  font-size: 1.2rem;
  color: black;
}
#about .about p {
  color: rgb(110, 110, 110);
}
#about .about h2 {
  font-size: 2rem;
}
#about .about .bubble {
  transform: rotate(100deg);
  width: 0rem;
  position: relative;
  z-index: 1;
  top: 0;
  opacity: 0;
}
#about .about .girl{
  position: relative;
  top: 0%;
  z-index: 2;
  left:0;
}
#about .about .keterangan {
  display: flex;
}
#about  .exp1 {
  border-right: 1px solid lightgray;
  padding-right: 1rem;
}
.exp {
  margin-right: 1.5rem;
}
.book {
  color:#7D46F2;
}
.smile {
  color: #14E0A7;
}

/* Projects */
#projects h2 {
  font-size: 3rem;
  font-weight: 600;
}
#projects span {
  color: var(--pink);
  font-weight: 650;
}
#projects p {
  font-size: 18px;
  color: var(--blue);
  font-weight: 600;
}

#projects .main-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 20px 20px;
  border-radius: 10px;
  transition: 0.3s ease-in;
}
#projects .main-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
}
.main-card .card-image img{
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 2px solid #3744AC;
  transition: 0.3s ease-in-out;
}
.main-card .card-text a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.main-card .card-text a:hover {
  color: var(--blue);
}
.bubble {
  overflow: hidden;
}
.circle {
  width: 200px;
  height: 200px;
  background: var(--pastelpink);
  border-radius: 50%;
  position: relative;
  left: -6rem;
  top: 5rem;
}
.circle2 {
  position: relative;
  width: 350px;
  height: 300px;
  left: 85%;
  top: 10rem;
  transform: rotate(98deg);
}

/* Skills */
#skills {
  margin-top: 2rem;
}
.bubbleend {
  position: relative;
  left: 60%;
  top: 5%;
  transform: rotate(50deg);
}
#skills .bubble {
  position: relative;
  width: 100px;
  height: 100px;
  left: -15%;
  border-radius: 50%;
  background: #8896D7; 
}
#skills p {
  font-size: 20px;
  color: var(--blue);
  font-weight: 600;
}
#skills h2 {
  font-size: 44px;
  font-weight: 700;
}
.main-skills {
  width: 208px;
  height: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: all .6s ease;
  margin-top: 2rem;
  background: #fff;
  margin-bottom: 5rem;
}
.skill1 {
  border: 2px solid #FF3300;
  position: relative;
  z-index: 1;
}
.skill1::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 100%;
  left:  0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #ffeeea;
  border-radius: 12px;
}
.skill1:hover::before {
  opacity: 1;
  transition: 0.5s all ease;
  top: 0;
  z-index: -1;
}
.skill2 {
  border: 2px solid #0A85FF;
  position: relative;
  z-index: 1;
}
.skill2::before {
  transition: 0.8s all ease;
  position: absolute;
  top: 100%;
  left:  0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #f1f8ff;
  border-radius: 12px;
}
.skill2:hover::before {
  opacity: 1;
  transition: 0.8s all ease;
  top: 0;
  z-index: -1;
}
.skill3 {
  border: 2px solid #983FF1;
  position: relative;
  z-index: 1;
}
.skill3::before {
  transition: 0.8s all ease;
  position: absolute;
  top: 100%;
  left:  0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #f7f0ff;
  border-radius: 12px;
}
.skill3:hover::before {
  opacity: 1;
  transition: 0.8s all ease;
  top: 0;
  z-index: -1;
}
.skill4 {
  border: 2px solid #0080ff;
  position: relative;
  z-index: 1;
}  
.skill4::before {
  transition: 0.8s all ease;
  position: absolute;
  top: 100%;
  left:  0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  background: #f3f9ff;
  border-radius: 12px;
}
.skill4:hover::before {
  opacity: 1;
  transition: 0.8s all ease;
  top: 0;
  z-index: -1;
}
.main-skills .card-skills h6 {
  margin-top: 1rem;
  font-weight: bold;
}
.main-skills .card-skills span {
  font-weight: bold;
}

/* Client Feedback */
#client {
  margin-top: 17%;
}
#client p {
  color: var(--blue);
  font-weight: 700;
  position: relative;
  top: 10px;
}
#client h2 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', sans-serif;
}
.card-client {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(0deg, var(--pink), var(--pastelpink));
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: white;
  position: relative;
  z-index: -1;
  top: 2rem;
  margin-bottom: 5rem;
}
.card-client::before {
  content: '';
  width: 100px;
  height: 100px;
  background: var(--pastelblue);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: -50%;
  left: 55%;
  opacity: 0.5;
}
.card-client::after {
  content: '';
  width: 55px;
  height: 55px;
  background: var(--pastelpink);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.9;
  top: -35%;
  left: 30%;
}
.card-client .people h4,
span {
  position: relative;
  top: -24%;
}
.card-client .quote {
  position: relative;
  top: -10%;
}
.card-client .card-text {
  position: relative;
  top: -6%;
}
.card-client .people img {
  border-radius: 50%;
  position: relative;
  top: -30%;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-client .people h4 {
  font-size: 20px;
  font-weight: bold;
}
.card-client .people span {
  font-size: 14px;
  font-weight: 550;
}
#client .card-text {
  font-family: 'Fira Sans', sans-serif;
}
#client .card-text::before {
  content: '';
  width: 100px;
  height: 100px;
  background: var(--pastelpink);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.9;
  top: 150%;
  left: -30%;
}
#client .card-text::after {
  content: '';
  width: 55px;
  height: 55px;
  background: var(--pastelblue);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
  top: 190%;
  left: 20%;
}
.brand ul {
  display: inline;
}
.brand ul li {
  list-style: none;
  margin-right: 4rem;
  margin-bottom: 2.5rem;
}
/* Portfolio */ 
#portfolio {
  margin-bottom: 5rem;
  margin-top: 10em;
}
#portfolio .bubble {
  position: relative;
  width: 100px;
  height: 100px;
  left: 88%;
  border-radius: 50%;
  background: var(--pink); 
}
#portfolio .card-port {
  margin: 10px;
  background:#2E45B0;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
#portfolio h2 {
  font-size: 35px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 3rem;
}
#portfolio .card-text {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}
.card-port h1{
  text-transform: capitalize;
  font-size: 56px;
  font-weight: 600;
}
.card-port p {
  font-size: 28px;
}
.card-port img {
  position: none;
  top: 0;
}

/* Contact */
#contact {
  margin-bottom: 7rem;
}
.contact img {
  width: 700px;
  height: 342px;
}
#contact {
  margin-top: 5rem;
}
#contact h2 {
  font-size: 44px;
  margin-top: 1rem;
}
#contact h2 span {
  font-weight: 700;
  color: var(--pink);
}
.contact .btn-kirim {
  background: var(--pink);
  color: white;
}
/* Footer */
footer section .btn-floating:hover {
  background: var(--blue)
}
/* Desktop Version */
@media (min-width: 992px) {
  .nav-link {
    margin-right: 30px;
  }
  .nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid var(--pink);
	width: 50%;
	padding-bottom: 5px;
	margin: auto;
	margin-bottom: -8px;
	}
  .jumbotron h1,.sosialmedia{
    position: relative;
    top: 30%;
    left: 12%;
  }
  .jumbotron .btn {
    position: relative;
    top: 30%;
    left: 12%;
  }
  .jumbotron p{
    position: relative;
    top: 30%;
    left: 12%;
  }
  .lingkaran {
    position: relative;
    width: 100px;
    height: 100px;
    left: 215%;
    top: -100%;
    border-radius: 50%;
    background: #8896D7; 
  }
  #about .about .girl {
    top: -68%;
    z-index: 2;
    left:18%;
  }
  #about .about .bubble {
    z-index: 1;
    top: -15%;
    width: 120rem;
    opacity: 1;
  }
  .exp {
    margin-right: 6rem;
  }
  #about .exp1 {
    padding-right: 5.5rem;
  }
  #projects .main-card:hover {
    transform: scale(1.03);
  }
  .bubbleend {
    left: 90%;
    top: 10%;
  }
  #skills .bubble {
    left: -5%;
  }
  #portfolio .card-text {
    transform: translate(20%,0%);
  }
  #portfolio .card-port {
    width: 1140px;
    height: 500px;
    margin:  0;
    padding: 0px;
    display: flex;
  } 
  #portfolio .bubble {
    left: 96%;
  }
  .card-client {
    width: 700px;
    height: 315px;
    margin-left: 0.7rem;
  }
  .card-client::before {
    left: 120%;
    top: -10%;
  }
  .card-client::after {
    left: 111%;
    top: 14%;
  }
  #client .card-text::before {
    left: -50%;
  }
  #client .card-text::after {
    left: -40%;
  }
  .brand {
    margin-left: 3rem;
  }
  .brand ul {
    display: flex;
  }
  .brand ul li {
    margin-bottom: 0;
    transition: 0.3s ease-in;
  }
  .brand ul li:hover {
    transform: rotate(2deg);
  }
  [data-theme='dark'] .nav-link {
    background:white;
    border-radius: 5px;
  }
}
/* Mobile & tablet Version */ 
@media (max-width: 992px) {
  #about .bubblepink {
    left: -5em;
    width: 200px;
  }
  #projects {
    margin-top: 29rem;
  }
  .circle {
    top: 26rem;
    width: 150px;
    height: 150px;
    left: -6rem;
  }
  .circle2 {
    opacity: 0;
  }
  #projects .main-card {
    margin-bottom: 2rem;
  }
  #skills .container {
    margin-top: 2rem;
  }
}
/* Small Phone Device */
@media (max-width: 322px) {
  #portfolio .card-port {
    padding: 13px;
    margin: 2px;
  }
  .card-port h1 {
    font-size: 45px;
  }
}
